{
  "settings": {
    "notification": {
      "onSuccess": {
        "enabled": true,
        "onTimeElapsed": true,
        "time": 30,
        "type": "notification"
      },
      "onError": {
        "enabled": true,
        "onTimeElapsed": true,
        "time": 30,
        "type": "notification"
      }
    }
  }
}
